@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Rubik:wght@300,700&display=swap');

body, html {
    padding: 0;
    margin: 0;
    color: #aaaab3;
    background-color: #141420;
    font-family: 'Rubik', sans-serif;
}

button, a.button {
    appearance: none;
    border: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 20px;
    background: linear-gradient(47deg, rgba(252,196,145,1) 0%, rgb(255, 169, 95) 100%);
}

button:hover {
    cursor: pointer;
    background: linear-gradient(47deg, rgb(214, 164, 118) 0%, rgb(221, 134, 58) 100%);
}

.main.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.left.container {
    position: relative;
}

.right.container {
    background-color: #3c3c47;
    display: flex;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

.logo .title {
    font-size: 3em;
    font-weight: bold;
    font-family: 'Abril Fatface', "Helvetica", sans-serif;
}

.logo {
    color: #fcc491;
    font-size: .8em;
}

.cam {
    width: min(100vh, 40vw);
    height: min(100vh, 40vw);
}

.intro.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 40px 40px;
}

.context.container {
    overflow: hidden;
    flex: 1 0 auto;
    text-align: center;
}

.context .captain {
    font-size: 2em;
    background: rgb(132,147,164);
    background: linear-gradient(47deg, rgba(132,147,164,1) 0%, rgba(196,205,219,1) 50%, rgba(140,152,168,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.eg{
    color: #ddd;
}

.context p {
    max-width: 670px;
    font-size: .9em;
}

.context b {
    color: #ddd;
}

img.demo {
    width: 800px;
}

.demo.container {
    position: relative;
    width: 900px;
    overflow: hidden;
    margin-left: 20px;
}

.demo .fade {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: rgb(60,60,71);
    background: linear-gradient(0deg, rgba(60,60,71,1) 40%, rgba(60,60,71,0) 100%);
}

.left .fade {
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100%;
    background: rgb(60,60,71);
    background: linear-gradient(-90deg, rgb(20 20 32 / 42%) 0%, rgb(255 255 255 / 0%) 40%);
}

.steps {
    position: relative;
    margin: 0 40px;
}

.step {
    left: 0;
    top: 0;
    position: absolute;
    background-color: #111;
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 40px;
}

.center.container {
    display: flex;
    justify-content: center;
}

#inputFolderId {
    appearance: none;
    border: none;
    padding: 12px 15px;
    margin-right: 15px;
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 0 20px 10px #00000030;
    background: #f1f1f1;
}

#content {
    max-width: 800px;
    max-height: 200px;
    font-size: 1em;
    overflow-y: auto;
    overflow-x: hidden;
}